<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Basic_TestNG suite">
  <test  name="Test1">
   <parameter name="a" value="Hello Reshma"></parameter> 
   <classes>
   <class name="SeleniumWithJava.Basic_TestNG"></class>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
